%h3 #{title} Jobs

%table.datatable.table.table-hover
  %thead
    %tr
      %th Title
      %th Joblink
      %th Department
      %th Open since
      %th Closed at
      %th City
      %th Type
      -#%th Jobid
      -#%th
      -#%th
      -#%th
  %tbody
    - @jobs.each do |job|
      %tr
        %td
          %span= link_to job.title,job,:class=>'btn'
        %td= link_to("GoTO","http://www.booking.com/jobs.en-us.html?st=details&job_id=#{job.jobid}")
        %td= job.department
        - if Time.now.to_date-job.created_at.to_date < 5 and job.created_at.nil?
          %td
            = job.created_at.to_date
            %span
              %small= "new!"
        - else
          %td= job.created_at.to_date
        - if job.closed_at.nil?
          %td
            %span.label.label-success= "Still Open"
        - else
          %td
            %span.label.label-warning= job.closed_at.to_date
        -#%td= job.closed_at.nil? ? "Still open" : job.closed_at.to_date
        %td= job.city
        %td= job.type
        -#%td= job.jobid
        -#%td= link_to 'Show', job
        -#%td= link_to 'Edit', edit_job_path(job)
        -#%td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }
  %tfoot      

%br

-#= link_to 'New Job', new_job_path
-#:javascript
-#  $('.datatable').dataTable({
-#  "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
-#  "sPaginationType": "bootstrap"
-#  });
:javascript
  $('.datatable').dataTable({
    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
    "sPaginationType": "bootstrap",
    "iDisplayLength": 30
  });